#home-page {
    background: linear-gradient(to right, #FF9A8B, #F39C12);
}

#container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

main {
    color: #FFF5E1;
    text-shadow: 7px 5px 10px rgba(0, 0, 0, 0.9);
    font-size: 4vh;
    text-align: center;
    padding: 10vh 0 0 0;
    order: 2;
}

section > p {
    font-size: 10vh;
}

#confetti {
    width: 10%;
    padding: auto;
    margin-top: 30%;
    border-radius: 8px;
    text-align: center;
}

#left-side {
    order: 1; 
    margin-left: 5%;
}

#right-side {
    order: 3;
    margin-right: 5%;
    transform: scaleX(-1);
}


@keyframes enlarge {
    0% {
        transform: scale(1.6);
    }

    40% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


img#confetti {
    width: 90%;
    animation: enlarge 1.3s ease-in-out, shake 2s ease-in-out 1.5s infinite;
}

#welcome {
    margin-bottom: 10%;
    font-size: 10vh;
    color: #808000;
    font-weight: bold;
    text-shadow: none;
    text-decoration: underline 5px;
}

#balloons {
    animation: enlarge 1.3s ease-in-out, shake 2s ease-in-out 1.5s infinite;
    background-color: transparent;
    width: 40vh;
    margin: 10%;
}



